<h2 >Todo</h2>
<div class="container "> 
   
    <fieldset class="form-group">
        <label>ProblamDecription</label>
        <input type="text" class="form-control" [(ngModel)]="todo.problam" name="ProblamDecription" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>TargetDate</label>
        <input type="date" class="form-control" [ngModel]="todo.date |date:'yyyy-MM-dd'" (ngModelChange)="todo.date=$event " name="TargetDate" required="required">
        <br>
<button type="button" class="btn btn-success"(click)="save()">Save</button>
    </fieldset>
</div>

