
<H1 style="margin: 20px;margin-left: 30px;">Login!</H1>

<div class="container">
  <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
</div>

  <div class="container  bg-light " style="display: grid;place-items:center;">
    <div class="col-md-4 col-sm-7 ">
    <div class="container row col-md-8" >
     <div class="container" style="display:grid;">
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password  : <input type="password" name="password" [(ngModel)]="password"><br>
      
    <!-- User Name : {{username}} -->

    <!-- <button (click)=handleLogin() class="btn btn-success">Login</button> -->
    <!-- <button (click)=handleBasicAuthLogin() class="btn btn-success">Login</button> -->
    <button  class="btn btn-success"(click)="logcontrol()">Login</button>
    </div></div></div>
  </div>
