<H1 style="text-align:left;">Login!</H1>

<div class="container">
  <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
</div>

  <div class="container-fluid row  mt-auto py-3 bg-light ">
    <div class="col-md-4 col-sm-7 ">
    <div class="container row col-md-8" >
     <div class="container" style="display:grid;">
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password  : <input type="password" name="password" [(ngModel)]="password"><br>
      
    <!-- User Name : {{username}} -->

    <!-- <button (click)=handleLogin() class="btn btn-success">Login</button> -->
    <!-- <button (click)=handleBasicAuthLogin() class="btn btn-success">Login</button> -->
    <button  class="btn btn-success"(click)="logcontrol()">Login</button>
    </div></div></div>
  </div>
