<body>
     
    <section id="center" class="clearfix center_prod sec_n">
    <div class="container">
     <div class="row">
       <div class="center_prod_1 text-center clearfix">
        <div class="col-sm-12">
         <h5 class="mgt col_1 normal"><a href="#">Home</a>  |  Checkout</h5>
         <h1 class="col_1">Checkout</h1>
        </div>
       </div>
     </div>
    </div>
    </section>
    
    <section id="check_pg" class="clearfix checkout sec_n">
     <div class="container">
      <div class="row">
      <div class="checkout_1 clearfix">
       <div class="col-sm-6">
        <div class="check_lm clearfix">
        <div class="check_lm1 clearfix">
         <ul class="mgt">
          <li><a routerLink="/cart">Cart</a> <i class="fa fa-chevron-right"></i></li> 
          <li>Information <i class="fa fa-chevron-right"></i></li>
          <li>Shipping <i class="fa fa-chevron-right"></i></li>
          <li>Payment</li>
         </ul>
        </div><br>
        <div class="check_lm2 clearfix">
         <div class="col-sm-6 space_left">
          <h4>Contact information</h4>
         </div>
         <div class="col-sm-6 space_left">
          <p>Already have an account? Already have an account? <a class="bold" href="#">Log in</a></p>
         </div>
        </div>
        <div class="check_lm3 clearfix">
         <input class="form-control" placeholder="Email" type="text">
         <h5 class="normal"><input class="check_1" type="checkbox"> <span>Keep me up to date on news and exclusive offers</span></h5><br>
         <h4>Shipping address</h4>
        </div>
        <div class="check_lm4 clearfix">
         <div class="col-sm-6 space_left">
           <input class="form-control" placeholder="First Name" type="text">
         </div>
         <div class="col-sm-6 space_left">
           <input class="form-control" placeholder="Last Name" type="text">
         </div>
        </div>
        <div class="check_lm4  clearfix">
         <input class="form-control" placeholder="Address" type="text">
         <input class="form-control" placeholder="House No" type="text">
         <input class="form-control" placeholder="City" type="text">
        </div>
        <div class="check_lm4 clearfix">
         <div class="col-sm-4 space_left">
           <select class="form-control" id="subject" name="subject">
            <option>Country</option>
            <option>India</option>
            <option>Pak</option>
            <option>Afg</option>
            <option>Ban</option>
            </select>
         </div>
         <div class="col-sm-4 space_left">
           <select class="form-control" id="subject" name="subject">
            <option>State</option>
            <option>UP</option>
            <option>MP</option>
            <option>Delhi</option>
            <option>Bengal</option>
            </select>
         </div>
         <div class="col-sm-4 space_left">
           <input class="form-control" placeholder="Pin Code" type="text">
         </div>
        </div>
        <div class="check_lm5 clearfix">
          <h5 class="normal"><input class="check_1" type="checkbox"> <span>Save this information for next time</span></h5>
        </div>
        
        </div>
       </div>
       <div class="col-sm-6">
       <div class="check_rm clearfix">
      
        <!-- Items which are in cart -->
        <div class="checkout_1r border_none pdb clearfix">
          <div class="checkout_1l2 clearfix">
    
         <div class="col-sm-3">
          <img src="../../assets/img/5.png" alt="abc"  class="iw">	 </div>
         <div class="col-sm-7">
          <p class="mgt">Naminos elementum disus tincidunts cosmo de cosmopolis red / XS</p>
          <h4>Red / XS</h4>
         </div>
         <div class="col-sm-3">
          <h6 class="text-right col_3">$149.00</h6>
         </div>
        </div>
        </div>
        <!-- Shippping cost is calculated in next step -->
        <div class="checkout_1r1 clearfix">
          <hr>
          <div class="checkout_1r1i clearfix">
           <div class="col-sm-6 col-md-12">
            <h5 class="mgt sub  normal"><span class="margin">Subtotal</span>   <span class="mgt ">:</span> <span class="total mgt" style="color: #715609;">$666.00</span></h5>
            <h5 class=" sub sub1 normal"><span>Shipping</span> <span class="mgt"  >:</span> <span class="total  mgt" style="color: rgb(218, 212, 210); ">Calculated at next step</span></h5>
           </div>
           
          </div>
         </div>
         <!-- Total value based on cart items -->
         <div class="checkout_1r1 clearfix">
          <hr>
          <div class="checkout_1r1i clearfix">
           <div class="col-sm-6">
            <h5 class="mgt normal">Total</h5>
           </div>
           <div class="col-sm-6">
            <h4 class="mgt"><span class="normal">USD</span> <span class="col_3">$1,846.00</span></h4>
           </div>
          </div>
         </div>
         <!-- Continue next process  -->
         <div class="checkout_1l3 clearfix">
          <hr>
          <div class="col-sm-6">
            <h5 class="mgt"><a href="#"><i class="fa fa-chevron-left"></i> Return to cart</a></h5>
          </div>
          <div class="col-sm-6">
             <h5 class="mgt text-right"><a class="button mgt">Continue</a></h5>
          </div>
         </div>
       </div>
       </div>
      </div>
      
      </div>
     </div>	 
    </section>
    <section id="footer" class="clearfix">
     <div class="container">
      <div class="row">
       <div class="footer_top clearfix">
      <div class="col-sm-2 footer_top_left left_1 clearfix">
       <div class="footer_top_left_inner clearfix">
        <h4>INCEPTOS</h4>
        <ul>
         <li><a href="shop.html">consectetur</a></li>
         <li><a href="about.html">About Us</a></li>
         <li><a href="contact.html">Contact Us</a></li>
        </ul>
       </div>
      </div>
      <div class="col-sm-2 footer_top_left left_1 clearfix">
       <div class="footer_top_left_inner clearfix">
        <h4>SEM SOCIOSQU</h4>
        <ul>
         <li><a href="#">Taciti, Praesent & Torquent Libero</a></li>
         <li><a href="#">FAQs</a></li>
         <li><a href="#">Terms & Conditions and  Privacy Policy</a></li>
        </ul>
       </div>
      </div>
      <div class="col-sm-2 footer_top_left left_1 clearfix">
       <div class="footer_top_left_inner clearfix">
        <h4>DIGNISSIM INTEGER</h4>
        <ul>
         <li><a href="#">Ipsum Dolor Sit</a></li>
         <li><a href="#">Duis Sagittis Ipsum</a></li>
         <li><a href="#">Nulla quis sem at nibh</a></li>
         <li><a href="#">SEM Litora</a></li>
        </ul>
       </div>
      </div>
      <div class="col-sm-2 footer_top_left left_1 clearfix">
       <div class="footer_top_left_inner clearfix">
        <h4>IMPERDIET</h4>
        <ul>
         <li><a href="#">Litora Torquent</a></li>
         <li><a href="#">Mauris Massa</a></li>
         <li><a href="#">Duis Sagittis</a></li>
         <li><a href="#">Sed Dignissim Lacinia</a></li>
        </ul>
       </div>
      </div>
      <div class="col-sm-2 footer_top_left left_1 clearfix">
       <div class="footer_top_left_inner clearfix">
        <h4>ADIPISCING</h4>
        <ul>
         <li><a href="#">Consectetur</a></li>
         <li><a href="#">Taciti Sociosqu</a></li>
         <li><a href="#">Curabitursodales</a></li>
        </ul>
       </div>
      </div>
      <div class="col-sm-2 footer_top_left clearfix">
       <div class="footer_top_left_inner clearfix">
        <h4>GET IN TOUCH</h4>
        <ul>
         <li><a href="#">9999-626-5353</a></li>
         <li><a href="#">(11am - 7pm IST, MON - SAT)</a></li>
         <li><a href="#">info@gmail.com</a></li>
         <li><a href="#">Conubia Nostra</a></li>
        </ul>
       </div>
      </div>
     </div>
      </div>
     </div>
    </section>
    
    <section id="footer_last" class="clearfix">
     <div class="container">
      <div class="row">
       <div class="footer_last clearfix">
        <h5>Buy Jewellery Online with www.kpjeweller.com</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
        <p>Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero. Sed dignissim lacinia nunc.</p>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero. </p>
        <h6>. Consectetur Elementum</h6>
        <h6>. Sociosqu Elementum</h6>
        <h6>. Dapibus Elementum</h6>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero. </p>
        <p>Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero. Sed dignissim lacinia nunc.</p>
       </div>
      </div>
     </div>
    </section>
    
    <section id="footer_last_2" class="clearfix">
     <div class="container">
      <div class="row">
       <div class="footer_last_2 clearfix">
       <div class="footer_last_2_inner clerafix">
           <p class="website">© 2013 Your Website Name. All rights reserved | Design by<a href="http://www.templateonweb.com"> TemplateOnWeb</a></p>
          </div>
       </div>
      </div>
     </div>
    </section>
    
     
    
    </body>
    <router-outlet></router-outlet>