<div>
    <h1>Hello {{name}}.Welcome to our awesome Application.</h1>
</div>
<div><h3>Go To Todo's click <a routerLink="/todo">hear</a></h3></div>
<div>
    Get Connect with Spring application<button class="btn btn-success" (click)="getSpringData()">Get Value From Spring</button>
</div>
<div>
    Get Connect with Spring application<h1>{{Spring}}</h1>
</div>

<br>
<div>
    Get Connect with Spring application<button class="btn btn-success" (click)="dataServiceWithpathVariable()">Get Value From Spring</button>
</div>